
.card {
    border-top: inherit;
    border-bottom: inherit;
    background-color: lavender;
   
    }

.card:hover {
    border-top: inherit;
    border-bottom: inherit;
    background-color: rgb(191 191 227);
}

.card-title {
    color: red;
    font-weight: 600;
    text-decoration-line: underline;
}
.card-img-top{
    max-height: 200px;
    max-width: 200px;
    padding: 5px;
    object-fit: fill;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
}
.list-group-item-author {
    color: #4a4d4f;
}

.list-group-item-tag {
    color: #4a4d4f;
    font-weight: 600;
}