<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="form">

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="buyerName">Buyer Name</label>
                        <input type="text" name="buyerName" id="buyerName" formControlName="buyerName" class="form-control ">
                        <span *ngIf="!paymentForm.get('buyerName').valid && paymentForm.get('buyerName').touched" class="help-block">
                            <span *ngIf="paymentForm.get('buyerName').errors['checkWhiteSpace']">Please enter a valid Buyer Name!</span>
                            <span *ngIf="paymentForm.get('buyerName').errors['required']"> This field is required!</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="contactNo">Contact No.</label>
                        <input type="text" name="contactNo" id="contactNo" formControlName="contactNo" class="form-control ">
                        <span *ngIf="!paymentForm.get('contactNo').valid && paymentForm.get('contactNo').touched" class="help-block">
                            <span *ngIf="paymentForm.get('contactNo').errors['checkContactNo']">Min. 10 digit ContactNo required!</span>
                            <span *ngIf="paymentForm.get('contactNo').errors['required']"> This field is required!</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Delivery Address</label>
                        <textarea type="text" name="address" id="address" formControlName="address" class="form-control" rows="2"></textarea>
                        <span *ngIf="!paymentForm.get('address').valid && paymentForm.get('address').touched" class="help-block">
                            <span *ngIf="paymentForm.get('address').errors['checkWhiteSpace']">Please enter a valid Address!</span>
                            <span *ngIf="paymentForm.get('address').errors['required']"> This field is required!</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                <label for="shippingMethod">Shipping Method</label>
                <!-- <select name="shippingMethod" id="shippingMethod" class="form-control" formControlName="shippingMethod">
                    <option value="standard" selected>Standard</option>
                    <option value="byair">By-Air</option>
                </select> -->
                <select name="shippingMethod" id="shippingMethod" class="form-control" formControlName="shippingMethod">
                    <!-- <option *ngFor="let method of ['standard', 'byair']" [value]="method">{{ method | titlecase }}</option> -->
                    <option *ngFor="let method of shippingMethods" [value]="method">{{ method | titlecase }}</option>
                  </select>
            </div>
                <div class="col-sm-6 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" formControlName="amount" class="form-control" readonly>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 form-group">
                    <label for="cardNo">Card No.</label>
                    <input type="text" id="cardNo" name="cardNo" formControlName="cardNo" class="form-control">
                    <span *ngIf="!paymentForm.get('cardNo').valid && paymentForm.get('cardNo').touched" class="help-block">
                        <span *ngIf="paymentForm.get('cardNo').errors['checkCardNo']">Please enter a valid Card No.!</span>
                        <span *ngIf="paymentForm.get('cardNo').errors['checkCardNoLength']">Min. 16 digit Card No. required!!</span>
                        <span *ngIf="paymentForm.get('cardNo').errors['required']"> This field is required!</span>
                    </span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" name="cvv" formControlName="cvv" class="form-control" required>
                    <span *ngIf="!paymentForm.get('cvv').valid && paymentForm.get('cvv').touched" class="help-block">
                        <span *ngIf="paymentForm.get('cvv').errors['checkCVV']">Please enter a valid CVV!</span>
                        <span *ngIf="paymentForm.get('cvv').errors['required']"> This field is required!</span>
                    </span>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="pin">Pin</label>
                    <input type="text" id="pin" name="pin" formControlName="pin" class="form-control" required>
                    <span *ngIf="!paymentForm.get('pin').valid && paymentForm.get('pin').touched" class="help-block">
                        <span *ngIf="paymentForm.get('pin').errors['checkPin']">Please enter a valid Pin!</span>
                        <span *ngIf="paymentForm.get('pin').errors['required']"> This field is required!</span>
                    </span>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control" formControlName="category" >
                    <option [value]="category" disabled selected>{{category === '' ? 'Choose a category' : category }}</option>
                    <option value="mens">Mens</option>
                    <option value="women">Women</option>
                    <option value="kids">Kids</option>
                </select>
            </div> -->
            <!-- <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" id="category" formControlName="category" class="form-control ">
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button type="submit" class="btn btn-success" [disabled]="!itemForm.valid">Save</button> -->
                    <button type="submit" class="btn btn-success" [disabled]="!paymentForm.valid">Confirm</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>