<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="form">
        
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Buyer Name</label>
                        <input type="text" name="name" id="name" formControlName="name" class="form-control ">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="contactNo">Contact No.</label>
                        <input type="text" name="contactNo" id="contactNo" formControlName="contactNo" class="form-control ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Delivery Address</label>
                        <textarea type="text" name="address" id="address" formControlName="address"
                            class="form-control" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-xs-12"> -->
                    <div class="col-sm-2 form-group">
                        <label for="amount">Amount</label>
                        <input 
                        type="number" 
                        id="amount" 
                        name="amount" 
                        formControlName="amount"
                        class="form-control" 
                        >
                    </div>
                    <div class="col-sm-5 form-group">
                        <label for="cardNo">Card No.</label>
                        <input 
                        type="text" 
                        id="cardNo" 
                        name="cardNo" 
                        formControlName="cardNo"
                        class="form-control" 
                        required 
                        pattern="^[1-9]+[0-9]*$">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="cvv">CVV</label>
                        <input 
                        type="text" 
                        id="cvv" 
                        name="cvv" 
                        formControlName="cvv"
                        class="form-control" 
                        required >
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="pin">Pin</label>
                        <input 
                        type="text" 
                        id="pin" 
                        name="pin" 
                        formControlName="pin"
                        class="form-control" 
                        required >
                    </div>
                <!-- </div> -->
            </div>
            <!-- <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control" formControlName="category" >
                    <option [value]="category" disabled selected>{{category === '' ? 'Choose a category' : category }}</option>
                    <option value="mens">Mens</option>
                    <option value="women">Women</option>
                    <option value="kids">Kids</option>
                </select>
            </div> -->
            <!-- <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" id="category" formControlName="category" class="form-control ">
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- <button type="submit" class="btn btn-success" [disabled]="!itemForm.valid">Save</button> -->
                    <button type="submit" class="btn btn-success" >Confirm</button>
                    <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>

        </form>
    </div>
</div>