<!-- <div style="text-align:center">
  <h3>Main</h3>
<input type="text" name="" id="" [(ngModel)]="name">
<input type="text" name="" id="" value="{{name}}">
<p>{{name}}</p>
</div>
<button class="btn btn-primary">Submit</button>

<hr> -->
<!-- <app-view-emul></app-view-emul> -->
<!-- <app-view-none></app-view-none>-->
<!-- <app-view-shadow></app-view-shadow>  -->

<!-- <app-servers></app-servers> -->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->
<!-- <div id="app-servers"></div> -->



<!-- Directive -->
<!-- <app-directive></app-directive> -->


<!-- Services -->
<!-- <app-services></app-services> -->


<!-- Routing -->
<!-- <app-routing></app-routing> -->

<!-- Observable -->
<!-- <app-obervable></app-obervable> -->

<!-- Forms-TemplateDriven -->
<app-forms-td></app-forms-td>

<!-- Forms-Reactive -->
<!-- <app-forms-reactive></app-forms-reactive> -->

<!-- Pipes -->
<!-- <app-pipes></app-pipes> -->

<!-- http request -->
<!-- <app-http></app-http> -->