<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="form">

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Item Name</label>
                        <input type="text" name="name" id="name" formControlName="name" class="form-control ">
                        <span *ngIf="!itemForm.get('name').valid && itemForm.get('name').touched" class="help-block">
                            <span *ngIf="itemForm.get('name').errors['checkWhiteSpace']">Please enter a valid Product Name!</span>
                            <span *ngIf="itemForm.get('name').errors['required']"> This field is required!</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input type="text" name="image" id="image" formControlName="image" class="form-control" #image>
                        <span *ngIf="!itemForm.get('image').valid && itemForm.get('image').touched" class="help-block">
                            <span *ngIf="itemForm.get('image').errors['required']"> This field is required!</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!!image.value">
                <div class="col-xs-12">
                    <img [src]="image.value" style="max-width: 200px; max-height: 200px;" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" id="description" formControlName="description" class="form-control" rows="4"></textarea>
                        <span *ngIf="!itemForm.get('description').valid && itemForm.get('description').touched" class="help-block">
                            <span *ngIf="itemForm.get('description').errors['checkWhiteSpace']">Please enter a valid Product Description!</span>
                            <span *ngIf="itemForm.get('description').errors['required']"> This field is required!</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" class="form-control" formControlName="category">
                        <option [value]="category" disabled selected>{{category === '' ? 'Choose a category' : category
                            }}</option>
                        <option value="mens">Mens</option>
                        <option value="women">Women</option>
                        <option value="kids">Kids</option>
                    </select>
                    <span *ngIf="itemForm.get('category').invalid && itemForm.get('category').touched" class="help-block">
                        <span *ngIf="itemForm.get('category').hasError('required')">This field is required!</span>
                    </span>
                </div>
                
                <div class="col-sm-3 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" formControlName="amount" class="form-control">
                    <span *ngIf="itemForm.get('amount').invalid && itemForm.get('amount').touched" class="help-block">
                        <span *ngIf="itemForm.get('amount').hasError('required')">This field is required!</span>
                        <span *ngIf="itemForm.get('amount').hasError('invalidAmount')">Amount should be greater than 0!</span>
                    </span>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="qty">Quantity</label>
                    <input type="number" id="qty" name="qty" formControlName="qty" class="form-control" required >
                    <span *ngIf="itemForm.get('qty').invalid && itemForm.get('amount').touched" class="help-block">
                        <span *ngIf="itemForm.get('qty').hasError('required')">This field is required!</span>
                        <span *ngIf="itemForm.get('qty').hasError('invalidQty')">Quantity should be greater than 0!</span>
                    </span>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="availableQty">Available Qty</label>
                    <input type="number" id="availableQty" name="availableQty" formControlName="availableQty"
                        class="form-control" required pattern="^[1-9]+[0-9]*$" readonly>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" id="category" formControlName="category" class="form-control ">
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12 form-btn">
                    <button type="submit" class="btn btn-success edit-btn" [disabled]="!itemForm.valid"> {{editMode ? 'Update' : 'Add'}} </button> | 
                    <button type="button" class="btn btn-danger edit-btn" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            

        </form>
    </div>
</div>