
.order{
    display: flex;
    width: 100%;
    cursor: pointer;
    height: 175px;
}
.order-detail{
    display: flex;
    flex-direction: column;
}

.order:hover {
    background-color: rgb(213, 228, 235);
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-image img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    overflow: hidden;
}

.item-details {
    display: flex;
}

.item-title {
    width: 30%;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.item-description {
    width: 40%;
}

strong{  
    display: inline-block;
    width: 120px;
}

.mat-list {
    display: flex;
    flex-direction: column; /* Ensure items are in a column layout */
    align-items: flex-start; /* Align items at the start (top) */
  }
  
  .mat-list-item {
    width: 100%; /* Ensure full width of the container */
    box-sizing: border-box; /* Include padding and border in the width */
    height: 175px;
  }

