<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <!-- <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div> -->

        <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit($event)">
            <!-- <form class="form" (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading"> -->
            <div class="row">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" formControlName="email">
                    <span *ngIf="!authForm.get('email')?.valid && authForm.get('email')?.touched" class="help-block">
                        <span *ngIf="authForm.get('email')?.hasError('required')"> This field is required! </span>
                        <span *ngIf="authForm.get('email')?.hasError('pattern')">Enter valid email id! </span>

                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                        formControlName="password">
                    <span *ngIf="!authForm.get('password')?.valid && authForm.get('password')?.touched"
                        class="help-block">
                        <span *ngIf="authForm.get('password')?.hasError('required')"> This field is
                            required! </span>
                        <span *ngIf="authForm.get('password')?.errors?.['pattern']">Password must have at least 8 characters, one uppercase letter, one lowercase letter, one digit and one special character.</span>
                    </span>
                </div>
            </div>
            <!-- <div class="row" *ngIf="is2FAMode">
                <div class="form-group">
                    <label for="code">2FA OTP</label>
                    <input type="password" name="code" id="code" class="form-control" ngModel required>
                </div>
            </div> -->
            <div class="row">
                <div class="form-btn-group">
                    <button class="btn btn-primary" type="submit">{{ isLoginMode? 'Login' :
                        'Sign-Up' }}</button> |
                    <button class="btn btn-light" type="button" (click)="onSwitchMode()">Switch To {{ isLoginMode?
                        'Sign-Up' : 'Login' }}</button>
                    <!-- <button class="btn btn-light" type="button" (click)="onForgotPass()">ForgotPassword</button> -->
                </div>
            </div>
        </form>
    </div>
</div>


<!-- <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right: 10px;">I am a: </label>
        <label class="form-check-label">
            <input class="form-check-input" type="radio" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input class="form-check-input ms-3" type="radio" value="female" formControlName="gender"> Female
        </label>
    </div>


    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'email'"></app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
        [type]="'password'"></app-text-input>
    <app-text-input *ngIf="!isLoginMode" [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"
        [type]="'password'"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>


    <div class="form-group text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button> 
        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">{{ isLoginMode? 'Login' :
            'Sign-Up' }}</button> |
        <button class="btn btn-light" type="button" (click)="onSwitchMode()">Switch To {{ isLoginMode?
            'Sign-Up' : 'Login' }}</button>
        <button class="btn btn-default me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form> -->