main {
    display: flex;
    flex-direction: column;
    margin: 10px 25px;

}

.span-as-link {
    cursor: pointer;
    color: rgb(138, 96, 153);
}

Input{
    border: 1px solod black;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(243, 235, 248);; 
}
.product-container{
    width: 95%; 
}
.product-card:hover{
    background-color: rgb(238, 218, 250);  
}
.act{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-section{
    max-width: 1000px;
}
.icon{
    width: 50px;
}
