<div class="item col-12" *ngIf="!!book">
    <div class="item-image col-3 col-md-3 col-lg-3">
        <img [src]="book.photoUrl" alt="{{book.title}}" class="img-responsive">
    </div>
    <div class="item-details col-8 col-md-8 col-lg-8">
        <div class="item-title">
            <h1 class="list-group-item-heading" >{{book.title}}</h1>
        </div>
        
        <div class="item-description float-end">
            
            <div>
                <p class="list-group-item-text">{{book.description}}</p>
            </div>
            <div>
                <p class="list-group-item-text">Unit Price : {{book.price}} </p>
            </div>
            <div>
                <p class="list-group-item-text">Available Quantity : {{book.availableQuantity}}</p>
            </div>
        </div>
        <div class="item-actions">
            <div class="item-action">
                <button class="btn btn-success" (click)="onAddToCart($event, index)">Add to Cart</button>
            </div>

        </div>

    </div>
</div>