<h3>Main App</h3>
<!-- <app-servers></app-servers> -->

<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
<div class="row">
    <div class="col-6">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd><br>
    </div>
    <div class="col-6">
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even><br>
    </div>
</div>

<!-- Services -->
<!-- <app-services></app-services> -->

<!-- Forms-TemplateDriven -->
<!-- <app-forms-td></app-forms-td> -->

<!-- Forms-Reactive -->
<!-- <app-forms-reactive></app-forms-reactive> -->

<!-- Pipes -->
<app-pipes></app-pipes>



