<div class="container">
    <div class="row" *ngIf="!!user">
        <div class="col-xs-12 col-sm-12 col-md-12 d-flex-col-cnt-cnt">

            <h5>Your Two-Factor Authentication Status : {{user.twoFactorEnabled && !qrData.authenticatorUri ? 'Set' : 'Not-Set! We recommend to set
                for enhanced security.'}} </h5>

            <button class="btn btn-primary" (click)="OnGetQR()" *ngIf="!qrData.authenticatorUri">Reset 2-Factor Authentication</button>
            <ng-container *ngIf="!!qrData.authenticatorUri">
                <div>
                    <qrcode [qrdata]="qrData.authenticatorUri" [width]="256" [allowEmptyString]="true"
                        [errorCorrectionLevel]="'M'"></qrcode>
                </div>
                <div>
                    <h6>Code : <span style="color: red;">{{qrData.sharedKey}}</span></h6>
                </div>
                <p>Either scan QR code or enter Code manually to authenticxator app!</p>
                <app-otp-input-modal></app-otp-input-modal>
                
            </ng-container>

        </div>
    </div>
</div>