<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit($event)" class="form">
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" formControlName="email" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" class="form-group">
                        <label for="question">Question</label>
                        <select name="question" id="question" class="form-control" formControlName="question">
                            <option value="" disabled selected>Choose Security Question for Password Reset</option>
                            <option value="Favorite food?">Favorite food?</option>
                            <option value="First Mobile Brand?">First Mobile Brand?</option>
                            <option value="Birth Place?">Birth Place?</option>
                        </select>
                        <span
                            *ngIf="(!userForm.get('question').valid && userForm.get('question').touched)"
                            class="help-block">
                            <span *ngIf="userForm.get('question').errors['checkQuestion']">Please select a valid Question!</span>
                            <span *ngIf="userForm.get('question').errors['required']"> Please select a valid Question!</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="answer">Answer</label>
                        <input type="text" id="answer" formControlName="answer" class="form-control">
                        <!-- <span *ngIf="(!userForm.get('answer').valid && userForm.get('answer').touched) || (!userForm.valid && userForm.touched)" class="help-block"> -->
                        <span
                            *ngIf="(userForm.get('answer').invalid && userForm.get('answer').touched) || (userForm.invalid && userForm.touched)"
                            class="help-block">
                            <span *ngIf="userForm.get('answer').hasError('checkWhiteSpace')">Please enter a valid Answer!</span>                            
                            <span *ngIf="userForm.get('answer').hasError('required')"> This field is required!</span>
                        </span>
                    </div>
                </div>
                <!-- <div>
                    <span *ngIf="!userForm.valid && userForm.touched" class="help-block">Please enter a valid data!</span>
                </div> -->
                <div class="row">
                    <div class="form-btn-group">

                        <!-- <button class="btn btn-primary form-btn" type="submit" [disabled]="!userForm.valid">Submit</button> -->
                        <button class="btn btn-primary form-btn" type="submit" >Submit</button>
                        <button type="button" class="btn btn-danger form-btn" (click)="onCancel()">Cancel</button>
                    </div>
                </div>

                <!-- <div class="radio" *ngFor="let role of roles">
                    <label>
                        <input type="radio" formControlName="role" [value]="role">{{ role }}
                    </label>
                </div> -->
            </form>
        </div>
    </div>
</div>