<div class="row">
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="Details">

            </tab>
            <tab heading="Security" (selectTab)="onTabActivated($event)">
                <h5>Your Two-Factor Authentication Status : {{user.isTwoFAEnabled ? 'Set' : 'Not-Set! We recommend to set for enhanced security.'}} </h5>


                <button class="btn btn-primary" (click)="OnGetQR()">{{user.isTwoFAEnabled? 'Reset 2FA' : 'Set-up 2FA' }}
                </button>
                <ng-container *ngIf="!!qrData.authenticatorUri">
                    <div>
                        <qrcode [qrdata]="qrData.authenticatorUri" [width]="256" [allowEmptyString]="true"
                            [errorCorrectionLevel]="'M'"></qrcode>
                    </div>
                    <div>
                        <h6>Code : <span style="color: red;">{{qrData.sharedKey}}</span></h6>
                    </div>
                    <p>Either scan QR code or enter Code manually to authenticxator app!</p>
                    <form class="form" (ngSubmit)="onSubmit(twoFAForm)" #twoFAForm="ngForm">
                        <div class="row">
                            <div class="form-group">
                                <label for="code">2FA OTP</label>
                                <input type="text" name="code" id="code" class="form-control" ngModel required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-btn-group">
                                <button class="btn btn-primary" type="submit" [disabled]="!twoFAForm.valid">{{user.isTwoFAEnabled ? 'RESET' : 'SET'}}</button> 
                                <!-- <button class="btn btn-light" type="button" (click)="onForgotPass()">ForgotPassword</button> -->
                            </div>
                        </div>
                    </form>
                </ng-container>
            </tab>
        </tabset>
    </div>
</div>