<div class="row">
    <div class="col-12">
        <tabset class="member-tabset" #userTabs>
            <tab heading="Details">
                <app-details [user]="user"></app-details>
            </tab>

            <tab heading="Security" (selectTab)="onTabActivated($event)">
                <app-security [user]="user"></app-security>
            </tab>
            <tab heading="Photos">
                <app-photo-editor [user]="user"></app-photo-editor>
                </tab>

        </tabset>
    </div>
</div>