<div class="dashboard col-12 col-lg-12">
    <div class="dash-box" (click)="onProfile()">
        <div class="dash-box-heading">Profile</div>
        <div class="dash-box-detail"></div>
    </div>
    <div class="dash-box" (click)="onGetOrCreateShop()">
        <div class="dash-box-heading">{{role === 'seller' ? 'Shop' :'Become a Seller'}}</div>
        <div class="dash-box-detail"></div>
    </div>
    <div class="dash-box" (click)="onCart()">
        <div class="dash-box-heading">Cart</div>
        <div class="dash-box-detail">{{cartItemCount}}</div>
    </div>
    <div class="dash-box" (click)="onMyOrders()">
        <div class="dash-box-heading">My Orders</div>
        <div class="dash-box-detail">{{orderCount}}</div>
    </div>
    <div class="dash-box" (click)="onShopOrders()" *ngIf="role === 'seller'">
        <div class="dash-box-heading">Shop Orders</div>
        <div class="dash-box-detail">{{sellerOrderCount}}</div>
    </div>
</div>