<div *ngIf="!!cart; else noCartItems">
    <div class="row cart">
        <div class="" *ngIf="!!cart">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th></th>
                        <th>Qty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart.cartItems" >
                        <td><input class="ptr-cursor"  type="checkbox" [checked]="item.checked" (change)="toggleItemCheck($event, item)"></td>
                        <td>
                            <span class="ptr-cursor" (click)="onItem($event, item)">{{ item.book.title }}</span>
                        </td>
                        <td class="cart-item-price"> {{ item.totalPrice }} </td>
                        <td class="cart-item-qty-action">
                            <i (click)="decreaseQuantity($event, item)" class="fa fa-minus-circle" aria-hidden="true"></i>
                        </td>
                        <td class="cart-item-qty">
                            <span>
                                {{ item.quantity }}
                            </span>
                        </td>
                        <td class="cart-item-qty-action">
                            <i (click)="increaseQuantity($event, item)" class="fa fa-plus-circle" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p class="list-group-item-text"><span class="list-group-item-tag">Total Price for Cart Items: </span><i
                        class="fa fa-inr " aria-hidden="true"></i> {{cart.totalPrice}}/-</p>
            </div>
            <div>
                <p class="list-group-item-text"><span class="list-group-item-tag">Total Price for Checked Items:
                    </span><i class="fa fa-inr " aria-hidden="true"></i> {{cart.totalCheckedPrice}}/-</p>
            </div>
        </div>
        <div class="row">
            <div class="form-btn-group">
                <button class="btn btn-primary form-btn" (click)="onCheckout()"
                    [disabled]="cart != undefined && cart.totalCheckedPrice <= 0">Checkout <i class="fa fa-shopping-bag"
                        aria-hidden="true"></i></button>

                <button class="btn btn-danger form-btn" (click)="onClearCart()" [disabled]="cart == undefined">Clear <i
                        class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<ng-template #noCartItems>
    <div class="no-items-container">
        <h3>Haven't find interesting yet!</h3>
        <p><a (click)="onHome()">Let's take a look at books!</a>.</p>
    </div>
</ng-template>