<div class="container-fluid">
  <div class="about-us container-fluid">
    <h1>About Us</h1>
    <p>Welcome to <span class="ebook-store-name">{{ eBookStoreName }}</span>, your one-stop destination for all things
      related to eBooks. We are passionate about providing readers with a seamless experience to discover, purchase, and
      enjoy a wide range of digital books.</p>

    <h2>Our Mission</h2>
    <p>At <span class="ebook-store-name">{{ eBookStoreName }}</span>, our mission is to make reading accessible and
      enjoyable for everyone. We believe in the power of literature to inspire, educate, and entertain, and we strive to
      connect readers with their favorite authors and genres.</p>

    <h2>What We Offer</h2>
    <ul>
      <li><strong>Diverse Collection:</strong> Explore our extensive library of eBooks spanning various genres, from
        classic literature to contemporary bestsellers, ensuring there's something for every reader.</li>
      <li><strong>User-Friendly Platform:</strong> Our website and mobile app are designed to provide a user-friendly
        browsing and shopping experience, making it easy for you to find and purchase your next great read.</li>
      <li><strong>Quality Content:</strong> We curate our eBook collection carefully, partnering with reputable
        publishers
        and authors to ensure that you receive high-quality content that meets your expectations.</li>
      <li><strong>Affordable Pricing:</strong> We believe that everyone should have access to great books without
        breaking
        the bank. That's why we offer competitive pricing and occasional discounts to make reading more affordable.</li>
    </ul>

    <h2>Our Team</h2>
    <p>Behind <span class="ebook-store-name">{{ eBookStoreName }}</span> is a dedicated team of book lovers, tech
      enthusiasts, and customer support professionals. We work tirelessly to improve our platform, curate engaging
      content, and provide excellent customer service to enhance your reading experience.</p>

    <h2>Get in Touch</h2>
    <p>We value feedback and are always eager to hear from our readers. Whether you have a question, suggestion, or
      simply
      want to say hello, feel free to <a href="#" class="contact-link">contact us</a> anytime. Your satisfaction is our
      top priority.</p>
  </div>
</div>