

.sorting-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    }

.sort-control {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-end;
}

.sort-control label {
    margin-right: 5px; 
}

.sort-control  input,
.sort-control select { 
    height: 35px;  
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.sort-control button{ 
    width: 100%;
}

app-book-item{
    padding: 2px 2px;
}
.container{
    height: 100vh;
}

