<div class="container" *ngIf="bookParms">
    <form [formGroup]="sortForm" class="sorting-controls" (ngSubmit)="onSubmit($event)">
        <div class="sort-control">
            <div>
                <label for="sortBy">Sort By:</label>
            </div>
            <div>
                <select id="sortBy" formControlName="sortBy" (change)="onSubmit($event)">
                    <option *ngFor="let option of sortByOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
        </div>

        <div class="sort-control">
            <div>
                <label for="sortOrder">Sort Order:</label>
            </div>
            <div>
                <select id="sortOrder" formControlName="sortOrder" (change)="onSubmit($event)">
                    <option *ngFor="let option of sortOrderOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
        </div>
        <div class="sort-control">
            <div>
                <label for="minPrice">Price From:</label>
            </div>
            <div>
                <input type="numeric" id="minPrice" formControlName="minPrice" class="form-control" (change)="onSubmit($event)">
            </div>
        </div>
        <div class="sort-control">
            <div>
                <label for="maxPrice">Price to:</label>
            </div>
            <div>
                <input type="number" id="maxPrice" formControlName="maxPrice" class="form-control" (change)="onSubmit($event)">
            </div>
        </div>
        <!-- <div class="sort-control">
            <div>
                <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
            </div>
        </div> -->
        <div class="sort-control">
            <div>
                <button (click)="resetFilters()" class="btn btn-secondary ms-1" type="submit">Reset Filters</button>
            </div>
        </div>
    </form>


</div>

<div class="row">
    <div class="col-12" >
        <app-book-item *ngFor="let book of books" [book]="book"></app-book-item>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage" 
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" 
        [maxSize]="pagination.totalPages"  
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;"
        lastText="&raquo;">

    </pagination>
</div>
