<form class="form d-flex-col-cnt-cnt" [formGroup]="twoFAForm" (ngSubmit)="onSubmit($event)">
    <div class="row">
        <div class="form-group">
            <label for="code">Two-Factor Authentication OTP</label>
            <ngx-otp-input [config]="otpInputConfig" (fill)="enteredOTP()" #otpCode></ngx-otp-input>
        </div>
    </div>
    <div class="row">
        <div class="form-btn-group">
            <button class="btn btn-primary" type="submit">Login</button>
             <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
        </div>
    </div>
</form>