.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-menu{
    background-color: lavender;
}
.dropdown-item:hover{
    background-color: rgb(191 191 227);
}

img {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    display: inline;
}

.stats{
    color: rgb(224, 85, 206);
    
    
}