.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    display: inline;
}

.stats{
    color: rgb(224, 85, 206);
    background-color: rgb(189, 221, 176);
    
}